@page "/mandoa/index"
<h3>Mando'a Index</h3>

<ul>
    <li>
        <NavLink class="nav-link" href="mandoa/time-convert">
            <span class="oi oi-clock" aria-hidden="true"></span> Time Converter
        </NavLink>
    </li>
</ul>

@code {
    
}