@page "/mandoa/time-convert"

<h3>Mando'a Time Converter</h3>
<br><br>
<p>Be sure to enter real time in 4-digit military time (ex. 0600, 1730) and mandalorian time as colon-separated time in the format of shift:hour:minute (i.e. 2:10:15).</p>
<br><br>
<h4>@errorMessage</h4>

An Earth time of <input type="text" @bind=realTime> sosol ti mando'ade ca'nara be <input type="text" @bind=mandoTime>
<br><br>
<button @onclick="toRealTime">To Earth Time</button>
<button @onclick="toMandoTime">To Mando Time</button>
