@page "/devtools/index"
<h3>Devtools Index</h3>

<ul>
    <li>
        <NavLink class="nav-link" href="devtools/checktextlists">
            <span class="oi oi-pencil" aria-hidden="true"></span> Compare Text Lists
        </NavLink>
    </li>
</ul>

@code {
    
}