@page "/minecraft/index"
<h3>Minecraft Tools and Utilities</h3>

<ul>
    <li>
        <NavLink class="nav-link" href="minecraft/log-cleaner">
            <span class="oi oi-pencil" aria-hidden="true"></span> Log Cleaner
        </NavLink>
    </li>
</ul>

@code {
    
}